{% extends "base.html" %}
{% load get_thumbnail %}

{% block content %}




<ul>
{% for product_instance in object.products.all %}

    <li>
    	<!-- {{ product_instance }}
    	{{ product_instance.thumbnail_set.all }}
    	{{ product_instance.thumbnail_set.all.first }} -->


      <a href='{{ product_instance.get_absolute_url }}'><img src='{{ product_instance|get_thumbnail:"micro" }}'></a>

    </li>




{% empty %}
    <li>No Tags yet.</li>
{% endfor %}
</ul>



{% endblock %}
