{% extends 'base.html' %}

{% block content %}
<form class="" action="" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" name="button">Submit</button>
</form>

{% endblock content %}
