{% extends "base.html" %}


{% block style %}

{% endblock style %}


{% block content %}
<h1>{% if vendor_name %}{{ vendor_name }} {% endif %}Products</h1>
<p>
<form method="GET" action="">
<input type='text' name='q' placeholder='Search' value='{{ request.GET.q }}'>
<input type='submit' value='Search'/>
</form>
</p>

<ul>
{% for instance in product_list %}
  <li><a href="{{ instance.get_absolute_url }}">{{ instance.title }} </a><br>
     {{ instance.description |urlize|truncatechars:100 }} <br>
     {{ instance.price }}</li>
{% endfor %}

</ul>



{% endblock %}
