{% extends "base.html" %}

<script>
$(document).ready(function(){
	{% block jquery %}
	$("#purchase-btn").click(function(event){
		event.preventDefault()
		var puchaseBtn = $(this)
		$("#dialog-confirm").fadeIn("300")
		$("#dialog-confirm").dialog({
			resizable: false,
			height: 350,
			width: 350,
			modal: true,
			buttons: {
				1: {
					id: "close",
					text: "Confirm",
					click: function(){
						console.log("confirm")
						var request = $.ajax({
							method: "POST",
							url: "{% url 'checkout' %}",
							data: {
								product_id: "{{ object.id }}",

							}
						})
						request.done(function(data){
							console.log(data.download)
							console.log(data.preview)
							puchaseBtn.before("<p><a href='" + data.download + "'>Download</p><p><a href='" + data.preview + "'>Preview</p>")
							puchaseBtn.fadeOut(100)

							// console.log("working...")
							// if (data.works) {
							// 	$("#content").html(data.time)
							// }
						})

						request.fail(function(jqXHR, textStatus){
							if (jqXHR.status == 404) {
								alert("Page not found!")
							} else if (jqXHR.status == 403) {
								alert("You must be logged in to do this.")
							} else {
								alert("There was an error with your request. Please try again.")
							}
						})


						$(this).dialog("close")
					},
					class: "buy-btn"
				},
				2: {
					id: "close",
					text: "Cancel",
					click: function(){
						$(this).dialog("close")
					},
					class: "cancel-btn"
				}
			}

		})
		})

	{% endblock jquery %}
	})
</script>

{% block content %}
<div class='col-primary pull-left'>
<h3>{{ object.title }}</h3><br>
{{ object.description }}<br>
<h5>{{ object.price }}</h5>
{% for img in object.thumbnail_set.all %}
	<img src="{{ img.media.url }}" />

{% endfor %}<br>
</div>
<div class='col-sidebar pull-right'>
{% if request.user.is_authenticated and object.media and object in request.user.myproducts.products.all%}
  <a href="{{object.get_download}}">download</a>
  <a href="{{object.get_download}}?preview=True">preview</a>

{% else %}
	<a id="purchase-btn" href="#">Purchase</a>
	<div id='dialog-confirm' title='Confirm Purchase' style='display:none'>
		<p>Your card on file will be charged after you agree below.</p>
	</div>
{% endif %}
<br><br>
<br>
</div>
{% endblock content%}
