{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<style media="screen">
.main-content {
width: 800px;
margin: 0 auto;
clear:both;
}

.col-primary {
	width: 85%;
}

.col-sidebar {
	padding-top: 20px;
	width: 15%;
}
#purchage-btn {
	color: red;
}

button.buy-btn {
	border: 1px solid #DA5B00 !important;
	background: #DA5B00 !important;
}

button.buy-btn .ui-button-text {
	color: #ffffff;
}

.ui-widget-header {
	border: 1px solid #ffffff !important;
	background: #ffffff !important;
}
</style>

  </head>

  <body>
    <div class="main-content">
    <h1>content under line</h1>
    <hr>
    {% block content %}
    {% endblock %}
    </div>


    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src='{% static "js/django.csrf.js" %}'></script>

    <script>
    {% block jquery %}
    {% endblock jquery %}
    </script>

    <!-- <script>
    $(document).ready(function(){
        alert('hello')})
    </script> -->
  </body>
</html>
